body {
    background-image: linear-gradient(to bottom right, rgb(254, 110, 110), rgb(163, 144, 155));
   font-family: Copperplate, Copperplate Gothic Light, fantasy;
    margin: 0;
   
    
}

#header-image {
    display: flex;
   align-items: center;
   justify-content: center;
    max-width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10%;
    box-shadow: 0 0 40px
    

}


hr {
    display: block;
    height: 1px;
    border-top: 1px solid #000000;
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
}

img {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
   
    
    
}

a {
    color:black;
    text-decoration: none;
    
}

a:hover {
    color: blueviolet;    
}

.header {
    display: flex;
    justify-content:center;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-variant-caps: all-small-caps;
    font-size:xx-large;
   

    
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    


}

.item img:hover {
    transform: scale(1.05);
    transition: all ease ;
    border-radius: 15px;
    box-shadow: 0 0 5px
}

.item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    max-width: 230px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

   
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

    

@media (max-width: 1200px) {
    .flex-container {
        flex-direction: column;
        justify-content: center;
    }
}